{%- liquid
  assign collection = collections[section.settings.home_featured_products]
  assign product_limit = section.settings.count | plus: 1
  if section.settings.mobile_scrollable
    assign product_limit = section.settings.count 
  endif
  
-%}
<div
  id="CollectionSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header {% if section.settings.view_all %} section-header--with-link{% endif %}">
        <h2 class="section-header__title">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.view_all -%}
          <a href="{{ collections[section.settings.home_featured_products].url }}" class="section-header__link">{{ 'collections.general.all_of_collection' | t }}</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  {% assign counter = 0 %}
  {% assign current_product = product.handle %}
  <div class="page-width{% if section.settings.mobile_scrollable %} page-width--flush-small{% endif %}">
    
    <div
      class="new-grid product-grid{% if section.settings.mobile_scrollable %} scrollable-grid--small{% endif %}"
      data-view="{% if section.settings.mobile_scrollable %}scrollable-{{ section.settings.product_per_row }}{% else %}grid-item{% endif %}">
      {%- if section.settings.home_featured_products == blank or collections[section.settings.home_featured_products].empty? or collections[section.settings.home_featured_products].products_count == 0 -%}

        {%- liquid
          for i in (1..product_limit)
            unless section.settings.mobile_scrollable
              assign item_classes = ''
              if forloop.index > section.settings.count
                assign item_classes = 'hide'
                assign mod = forloop.index | modulo: 2
                if mod == 0
                  assign item_classes = 'medium-up--hide'
                endif
              endif
            endunless
            render 'onboarding-product-grid-item', i: i, classes: item_classes
          endfor
        -%}

      {%- else -%}
        {%- liquid
          for product in collections[section.settings.home_featured_products].products
            assign item_classes = ''
            unless section.settings.mobile_scrollable
              if forloop.index > section.settings.count
                assign item_classes = 'hide'
                assign mod = forloop.index | modulo: 2
                if mod == 0
                  assign item_classes = 'medium-up--hide'
                endif
              endif
            endunless
            unless product.handle == current_product 
            render 'academy-product-grid-item', product: product, collection: collection, classes: item_classes 
             assign counter = counter | plus: 1 
              if counter == product_limit
               break 
              endif
             endunless
          endfor
        -%}

      {%- endif -%}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Course Feature Collection",
    "class": "index-section grid_list_margin featured-collection-grid featured-collection-grid-wrap",
    "settings": [
       {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": "t:sections.featured-collection.settings.home_featured_products.label"
    },
    {
      "type": "range",
      "id": "count",
      "label": "t:sections.featured-collection.settings.count.label",
      "default": 3,
      "min": 3,
      "max": 12
    },
    {
      "type": "select",
      "id": "product_per_row",
      "label": "Products per row",
      "default": "3",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Product Title Position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "color",
      "id": "title_text_color",
      "label": "Product Title Text Color"
    }, 
    {
      "type": "text",
      "id": "btn_title",
      "label": "Product Button Label",
      "default": "See Course"
    },  
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "t:sections.featured-collection.settings.view_all.label",
      "default": true
    },  
    {
      "type": "checkbox",
      "id": "mobile_scrollable",
      "label": "t:sections.featured-collection.settings.mobile_scrollable.label",
      "default": true
    }
    ],
    "presets": [
    {
      "name": "Course Feature Collection"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}