{%- liquid
  assign product_limit = section.settings.count | plus: 1
  if section.settings.mobile_scrollable
    assign product_limit = section.settings.count 
  endif
  
-%}
<style>
  .site-header{
        box-shadow: none!important;
  }
</style>
{% if section.settings.link_list.links %}
<div class="collection-nav-wrapper collection-nav-sticky">
  <div class="nav type-e collection-menu scrollfix">
    <div class="nav-interior">
      {% for link in section.settings.link_list.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>
  </div>    
</div>
{% else %}
  <div style="height:70px"></div>
  {% endif %}
<div
  id="CollectionSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">
  {%- if section.settings.title != blank -%}
    <div class="page-width">
      <div class="section-header {% if section.settings.view_all %} section-header--with-link{% endif %}">
        <h2 class="section-header__title">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.view_all -%}
          <a href="{{ collections[section.settings.home_featured_products].url }}" class="section-header__link">{{ 'collections.general.all_of_collection' | t }}</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  {% assign counter = 0 %}
  <div class="page-width{% if section.settings.mobile_scrollable %} page-width--flush-small{% endif %}">
    
          {%- paginate collection.products by product_limit -%}
    <div
      class="new-grid product-grid{% if section.settings.mobile_scrollable %} scrollable-grid--small{% endif %}"
      data-view="{% if section.settings.mobile_scrollable %}scrollable-{{ section.settings.product_per_row }}{% else %}grid-item{% endif %}">
        {%- liquid
          for product in collection.products
           assign item_classes = ''
            unless section.settings.mobile_scrollable
              if forloop.index > section.settings.count
                assign item_classes = 'hide'
                assign mod = forloop.index | modulo: 2
                if mod == 0
                  assign item_classes = 'medium-up--hide'
                endif
              endif
            endunless
            render 'academy-product-grid-item', product: product, collection: collection, classes: item_classes 
             assign counter = counter | plus: 1 
              if counter == product_limit
               break 
              endif
          endfor
        -%}
      
    </div>
            
      {%- liquid
        if paginate.pages > 1
          render 'pagination', paginate: paginate
        endif
      -%}
      {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "Course Collection",
  "class":"course-collection",
  "settings": [
    {
      "type": "range",
      "id": "count",
      "label": "Product Per Page",
      "default": 3,
      "min": 3,
      "step": 3,
      "max": 18
    },
    {
      "type": "select",
      "id": "product_per_row",
      "label": "Products per row",
      "default": "3",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Product Title Position",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "mobile_scrollable",
      "label": "t:sections.featured-collection.settings.mobile_scrollable.label",
      "default": true
    },
    {
      "type": "color",
      "id": "title_text_color",
      "label": "Product Title Text Color"
    }, 
    {
      "type": "text",
      "id": "btn_title",
      "label": "Product Button Label",
      "default": "See Course"
    },
    {
      "type":"link_list",
      "id":"link_list",
      "label":"Select Course collection menu"
    }
  ],
  "blocks": [
    {
      "type": "collection_description",
      "name": "t:sections.main-collection.blocks.collection_description.name",
      "limit": 1
    },
    {
      "type": "product_grid",
      "name": "t:sections.main-collection.blocks.products.name",
      "settings": [
        {
          "type": "select",
          "id": "grid_style",
          "label": "t:sections.main-collection.blocks.products.settings.grid_style.label",
          "default": "small",
          "options": [
            {
              "value": "large",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.large.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.small.label"
            },
            {
              "value": "list",
              "label": "t:sections.main-collection.blocks.products.settings.grid_style.options.list.label"
            }
          ]
        }
      ],
      "limit": 1
    },
    {
      "type": "subcollections",
      "name": "t:sections.main-collection.blocks.subcollections.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-collection.blocks.subcollections.settings.content"
        }
      ],
      "limit": 1
    }
  ]
}
{% endschema %}
