{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
<script>
  var position =[];
</script>
<div class="page-width faq_page_section">
  <div class="faq_main">
    <div class="faq_wrap">
      <div class="faq_inner">
        <div class="faq_righttbar">
          {%- if section.settings.title != blank -%}
            <header class="section-header text-center">
              <h2 class="section-header__title">
                {{ section.settings.title | escape }}
              </h2>
            </header>
          {%- endif -%}
          {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              <script>
                position.push('{{ block.settings.title }}');
              </script>
              <div {{ block.shopify_attributes }}>
                    <div class="">
                      <button type="button" id="{{ block.settings.title | handleize }}"
                        class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height"
                        aria-controls="FAQ-content-{{ block.id }}">
                        <span class="collapsible-trigger__layout">
                          <span class="collapsible_title">{{ block.settings.title }}</span>
                          {%- render 'collapsible-icons' -%}
                        </span>
                      </button>
                      <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-trigger--tab collapsible-content--all">
                        <div class="collapsible-content__inner rte">
                          {{ block.settings.text }}
                          <button class="apply-btn" data-option="{{ block.settings.title }}" ><a href="#template--16665619497180__1670500134f125164d">Apply Now</a></button>
                        </div>
                      </div>
                    </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}
{% schema %}
{
  "name": "Job Openings",
  "class": "job-opening",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Lash Job"
    }
  ],
  "blocks": [
    {
      "type": "job-title",
      "name": "Job title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Job Title",
          "default": "Job Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Job Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Job Opening",
      "blocks": [
        {
          "type": "job-title"
        },
        {
          "type": "job-title"
        }
      ]
    }
  ]
}
{% endschema %}
