<div class="key-benefits-main-cls">
  <div class="page-width">
  <div class="section-heading text-center">
    {% if section.settings.title != blank %}
    <h2 class="surname acuminprocondensed-bold-black-56px">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
    {{ section.settings.text }}
    {% endif %}
  </div>
  {%- if section.blocks.size > 0 -%}  
  <div class="key-benefits-content">
    <ul>
      {% for block in section.blocks %}
      <li>        
        <div class="benefits">
          {% if block.settings.image != blank  %}
          <img src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.image.alt }}">
          {% endif %}
          {% if block.settings.subheading != blank %}
          <div class="text acuminprocondensed-bold-black-56px">{{ block.settings.subheading }}</div>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  {%- endif -%}  
    </div>
</div>


{% schema %}
  {
    "name": "Key Benefits",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "heading"
    },
    {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Include the smaller details of your promotion in text below the title.</p>"
     }
    ],
    "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Text"
        }
      ]
    }
    ],  
    "presets": [
      {
        "name":"Key Benefits"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

.key-benefits-content ul {max-width: 1000px;margin: 30px auto 0; padding: 0; display: flex; flex-wrap: wrap;justify-content: center;}
.key-benefits-content ul li {margin: 0; list-style: none; width: calc(33.33% - 0px); padding: 30px; text-align: center; }
.key-benefits-main-cls {padding: 60px 0; }
.benefits .text {font-size: 20px;}
.benefits img {width: 100px;height: 100px;object-fit: contain;background: #eee;padding: 20px;clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);box-shadow: inset 0 0 30px #ddd;margin-bottom: 10px;}

@media (max-width: 767px){
.benefits .text {font-size: 16px; }
.key-benefits-content ul li{width: calc(50% + 0px); padding: 10px 10px 20px;}
.benefits img {width: 80px;height: 80px;}
}  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}