{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-video' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}

{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% assign autoplay = object.settings.autoplay %}
{% assign autoloop = object.settings.autoloop %}
{% assign mute_video = object.settings.mute_video %}
{% assign show_controls = object.settings.show_controls %}
{% assign darken_video = object.settings.video_dark_overlay %}
{% assign image = object.settings.image %}
{% assign pretext = object.settings.pretext %}
{% assign title = object.settings.title %}
{% assign subtitle = object.settings.subtitle %}
{% assign text_position = object.settings.text_position %}
{% assign text_align = object.settings.text_align %}
{% assign button1_label = object.settings.button1_label %}
{% assign button1_link = object.settings.button1_link %}
{% assign mobile_text_color = object.settings.mobile_text_color %}
{% assign iframe_video = object.settings.iframe_video %}
{% assign html5_video = object.settings.html5_video %}

{% comment %}Is the color set to transparent?{% endcomment %}
{% assign mobile_text_alpha = mobile_text_color | color_extract: 'alpha' %}

{% comment %}Section specific CSS{% endcomment %}
{% style %}

  .video-wrapper .plyr__video-wrapper{padding: 0px !important;}
  .video-wrapper .action_button_wrap{width: 100%; height: 100%; display: table; position: absolute; left: 0; top: 0; z-index: 1; padding: 20px 20px; }
  .video-wrapper .action_button_wrap .hero__text-content{padding: 0px 0px;}
  .video-wrapper .action_button_wrap .action_button{line-height: 1; text-decoration: none; text-align: center; white-space: normal; font-size: calc(var(--typeBaseSize) + 2px); display: inline-block; padding: 15px 15px; margin: 0; width: auto; vertical-align: middle; cursor: pointer; border: 1px solid transparent; border-radius: var(--buttonRadius); color: #000; background: #fff; }
  .video-wrapper .hero__text-wrap{position: absolute;left: 0;top: 0;width: 100%;background: #00000047;z-index: 1;}
  .video-wrapper .video-wrapper__image {width: 100%; height: 100%; }
  .video-wrapper .video-wrapper__image img{width: 100%; height: 100%; object-fit: cover; }
  .video-wrapper{padding-bottom: 0 !important; aspect-ratio: 1420/797 ; }
  .video-wrapper .plyr__video-wrapper{position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
  .plyr--video{
    height: 100%;
    width: 100%;
  }
  .plyr--video.plyr--hide-controls .plyr__controls{
    opacity: 1;
  }
  .plyr--video{
    z-index: 2;
  }
  
  .plyr--full-ui input[type=range]{color: #fff; }
  .plyr--full-ui.plyr--video .plyr__control--overlaid {
    background: transparent;
  }
  .plyr--full-ui.plyr--video .plyr__control--overlaid{padding: 0; }
  .plyr--full-ui.plyr--video .plyr__control--overlaid .play-icon-button-control{width: 60px; height: 60px; border-radius:50%; }
  {% if section.settings.text_color %}
    #shopify-section-{{ id }} .pretext,
    #shopify-section-{{ id }} .headline,
    #shopify-section-{{ id }} .subtitle,
    .block__{{ id }} .pretext,
    .block__{{ id }} .headline,
    .block__{{ id }} .subtitle {
      color: {{section.settings.text_color}} !important;
    }
    {% endif %}
  {% if section.settings.button_color != blank %}
 .video-wrapper .action_button_wrap .action_button {
      color: {{section.settings.button_color}} !important;
      background: {{section.settings.btn_text_color}} !important;
    }
    {% endif %}
  @media only screen and (max-width: 480px) {
    #shopify-section-{{ id }} .pretext,
    #shopify-section-{{ id }} .headline,
    #shopify-section-{{ id }} .subtitle,
    .block__{{ id }} .pretext,
    .block__{{ id }} .headline,
    .block__{{ id }} .subtitle {
      color: {% if mobile_text_alpha != 0 %}{{ mobile_text_color}}{% endif %};
    }
  }
  @media(max-width: 980px){
  .video-wrapper{aspect-ratio: 5/4;}
  }
  @media(max-width: 575px){
  .video-wrapper{aspect-ratio: 1/1; }
  }
{% endstyle %}

{%- unless section.settings.full_width -%}
  <div class="page-width hero--padded">
{%- endunless -%}
    <div
    data-section-id="{{ section.id }}"
    data-section-type="video-sections"
    class="video-parent-section hero hero--{{ section.id }} video-section">
    <div class="video-wrapper  video-controls-enabled--{{ show_controls }}
        darken-video--{{ darken_video }} video-section-{{ section.id }}"
        id="video-{{ id }}"
        data-autoplay="{{ autoplay }}"
        data-autoloop="{{ autoloop }}"
        data-mute-video="{{ mute_video }}"
        data-video-src="{{ iframe_video.id }}"
        data-poster-image-uploaded="{% if image != blank %}true{% else %}false{% endif%}">
      <div class="video__overlay"></div>
      {% comment %} Add div for placeholder / poster image {% endcomment %}
      {% if image %}
        <div class="video-wrapper__image">
         <img src="{{ image | img_url:'master' }}">
        </div>
      {% else %}
        <div class="video-wrapper__image">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--video' }}
        </div>
      {% endif %}

      {% comment %} Checks there is an iframe video (YouTube or Vimeo) {% endcomment %}
      {% if iframe_video != blank %}
        {% if iframe_video.type == 'vimeo' %}
          <div class="plyr__video-embed" id="video-{{ id }}" data-video-element data-external-video>
            <iframe src="https://player.vimeo.com/video/{{ iframe_video.id }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
        {% elsif iframe_video.type == 'youtube' %}
          <div class="plyr__video-embed" id="video-{{ id }}" data-video-element data-external-video>
            <iframe src="https://www.youtube.com/embed/{{ iframe_video.id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
          </div>
        {% endif %}
        {% comment %} Checks there is an HTML5 video {% endcomment %}
      {% elsif html5_video != blank %}
        <video class="video-{{ id }}" data-video-element data-html5-video>
          <source src="{{ html5_video }}">
        </video>
      {% endif %}
      {% if pretext != blank or title != blank or subtitle != blank %}
        <div class="hero__text-wrap">
          <div class="page-width">
            <div class="hero__text-content {{ section.settings.text_align }}">
              <div class="hero__text-shadow">
                {% if pretext != blank %}
                  <div class="pretext" data-video-text>{{ pretext }}</div>
                {% endif %}
                {% if title != blank %}
                  <h1 class="headline" data-video-text>{{ title | escape }}</h1>
                {% endif %}
                {% if subtitle != blank %}
                  <div class="subtitle" data-video-text>{{ subtitle }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if section.settings.enable_btn %}
          <div class="action_button_wrap">
            <div class="hero__text-content {{ section.settings.icon_align }}">
                  
                  <a {% if button1_link != blank %}href="{{ button1_link }}"{% else %}data-play-button{% endif %} class="action_button first_button js-no-transition">
                     <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>   {% if button1_label != blank %}{{ button1_label }}{% endif %}
                  </a>
                  
              </div>
          </div>
       {% endif %}
    </div>
</div>
{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}    
