<div class="sidebar-book">
  <div class="sidebar-overlay"></div>
  <div class="book-now-btn">x</div>
  <div class="sidebar-inner-content">
    {% comment %} sidebar faq start {% endcomment %}
    <div class="kit-heading">
      <h2>Book Now</h2>
    </div>
    <div class="kits-list-wrapper" data-training-schedules-list></div>
    <div class="pro_book_now_form_wrap">
      <form class="pro_book_now_form" novalidate="novalidate" id="book-now-form" method="post">
        <div class="card-body">
          <div class="pro_book_back">
            <div class="pro_book_back_wrap">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 0 16 16"
              >
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg>
              <label class="title">{{ 'contact.form.back_icon_name' | t }}</label>
            </div>
          </div>
          <div class="pro_book_text">
            <div class="pro_book_text_wrap">
              <ul class="pro_book_text_list">
                <li class="pro_book_text_item">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/>
                  </svg>
                  <label class="location"></label>
                </li>
                <li class="pro_book_text_item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-calendar-event-fill"
                    viewBox="0 0 16 16"
                  >
                     <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  <label class="date"></label>
                </li>
                <li class="pro_book_text_item">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-stopwatch-fill"
                    viewBox="0 0 16 16"
                  >
                     <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/>
                  </svg>
                  <label class="time"></label>
                </li>
              </ul>
            </div>
          </div>
          <div class="pro_book_row">
            <div class="form-group col_half">
              <input type="hidden" name="training_id" value="">
              <input type="hidden" name="location_id" value="">
              <input type="hidden" name="course_id" value="">
              <label>{{ 'contact.form.first_name' | t }}</label>
              <input type="text" name="firstname" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col_half">
              <label>{{ 'contact.form.last_name' | t }}</label>
              <input type="text" class="form-control" placeholder="Last Name" name="lastname">
            </div>
            <div class="form-group col_half">
              <label>{{ 'contact.form.email' | t }}</label>
              <input type="email" class="form-control" name="email" placeholder="abc@xyz.com">
            </div>
            <div class="form-group col_half">
              <label>{{ 'contact.form.phone' | t }}</label>
              <input type="text" class="form-control" name="phone_number" placeholder="XXXXX XXXXX">
            </div>
            <div class="form-group col_half">
              <label>{{ 'contact.form.People' | t }}</label>
              <input type="text" class="form-control" placeholder="Amount of people" name="no_of_people">
            </div>
            <div class="form-group col_full d-flex">
              <label>{{ 'contact.form.Gender' | t }}</label>
              <div class="form_check_wrap">
                <div class="form-check">
                  <input class="form-check-input" name="gender" type="radio" id="customCheckbox1" value="male">
                  <label for="customCheckbox1" class="form-check-label">{{ 'contact.form.male' | t }}</label>
                </div>
                <div class="form-check mr-2">
                  <input class="form-check-input" name="gender" type="radio" id="customCheckbox2" value="female">
                  <label for="customCheckbox2" class="form-check-label">{{ 'contact.form.female' | t }}</label>
                </div>
              </div>
            </div>
            <div class="form-group col_full">
              <label>{{ 'contact.form.comment' | t }}</label>
              <textarea class="form-control" name="comments" rows="3" placeholder="Comments ..."></textarea>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn_submit btn btn-primary">{{ 'contact.form.submit' | t }}</button>
          <button class="btn_cancel btn btn-secondary">{{ 'contact.form.cancel' | t }}</button>
        </div>
      </form>
      <div class="thankx-msg hide">
        <p>{{ 'contact.booking.thankx_msg' | t }}</p>
      </div>
    </div>
    {% comment %} sidebar faq end {% endcomment %}
  </div>
</div>
<style>
  .thankx-msg {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
}
</style>
