<div class="create-brows-wrapper">
  <div class="page-width">
    <div class="create-inner-wrapper container is-align-center is-justify-center">
      <div class="left-wrap js-animated-text" data-animated-duration="{{-section.settings.animation_duration-}}">
        <div class="right-side-text">
          <h2>{{-section.settings.title-}}
            {%- assign texts = section.settings.animated_texts | split:","-%}
            {%- for t in texts -%}
            <span class="animated-text js-animated-text-placeholder" style="display:none">{{-t-}}</span>
            {%- endfor -%}
            {{-section.settings.subtitle-}}</h2>

          {%- if section.settings.subheading != blank -%}
          {{-section.settings.subheading-}}
          {%- endif -%}
        </div>
      </div>
      <div class="right-wrap">
        <div class="counter-wrapper" data-animated-duration="{{-section.settings.number_duration-}}">
          <div class="stats">
            <div class="counting js-counter" id="counter-1" data-sepator="," data-num="{{section.settings.counter1}}">0</div>
            <p>{{section.settings.counter_txt1}}</p>
          </div>
          <div class="stats">
            <div class="counting js-counter" id="counter-2" data-num="{{section.settings.counter2}}">0</div>
            <p>{{section.settings.counter_txt2}}</p>
          </div>
          <div class="stats">
            <div class="counting js-counter" id="counter-3" data-num="{{section.settings.counter3}}">0</div>
            <p>{{section.settings.counter_txt3}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Number Counter",
    "class":"number-counter",
    "settings": [
      {
      "type": "range",
      "id": "animation_duration",
      "label": "Animation Duration(ms)",
      "min": 1,
      "max": 15,
      "step": 0.5,
      "default": 5
    },
    {
      "type": "range",
      "id": "number_duration",
      "label": "Numbner Animation Duration(ms)",
      "min": 1,
      "max": 15,
      "step": 0.5,
      "default": 4
    },
    {
      "type": "text",
      "id": "counter1",
      "label": "Counter 1",
      "default": "4.8"
    },
    {
      "type": "text",
      "id": "counter_txt1",
      "label": "Counter Text 1",
      "default": "Star rating"
    },
    {
      "type": "text",
      "id": "counter2",
      "label": "Counter 2",
      "default": "45000"
    },
     {
      "type": "text",
      "id": "counter_txt2",
      "label": "Counter Text 2",
      "default": "Star rating"
    },
    {
      "type": "text",
      "id": "counter3",
      "label": "Counter 3",
      "default": "10000000"
    },
    {
      "type": "text",
      "id": "counter_txt3",
      "label": "Counter Text 3",
      "default": "Star rating"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "html",
      "id": "animated_texts",
      "label": "Animated Texts",
      "info": "Each points will be seperated by comma"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Text"
    }
    ],
    "presets": [
    {
      "name": "Counter"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}