        <div class="grid__item medium-up--one-half right-contact-form">
          {%- if section.settings.form_title != blank-%}
            <div class="section-header">
              {%- if section.settings.form_title != blank -%}
                <h2 class="section-header__title">
                  {{ section.settings.form_title }}
                </h2>
              {%- endif -%}
            </div>
          {% endif %}
   <div class="form-vertical">
            {%- assign form_id = 'contact-' | append: section.id -%}
            {%- form 'contact', id: form_id -%}
              {%- if form.posted_successfully? -%}
                <p class="note note--success">
                  {{ 'contact.form.post_success' | t }}
                </p>
              {%- endif -%}

              {{ form.errors | default_errors }}

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormFName-{{ section.id }}">{{ 'contact.form.first_name' | t }}</label>
                  <input
                    type="text"
                    id="ContactFormFName-{{ section.id }}"
                    class="input-full"
                    name="contact[fname]"
                    autocapitalize="words"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  >
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormLName-{{ section.id }}">{{ 'contact.form.last_name' | t }}</label>
                  <input
                    type="text"
                    id="ContactFormLName-{{ section.id }}"
                    class="input-full"
                    name="contact[lname]"
                    autocapitalize="words"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  >
                </div>
              </div>

              <label for="ContactFormEmail-{{ section.id }}">{{ 'contact.form.email' | t }}</label>
              <input
                type="email"
                id="ContactFormEmail-{{ section.id }}"
                class="input-full"
                name="contact[email]"
                autocorrect="off"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              >

              <div class="grid grid--small">
                <div class="grid__item medium-up--one-half">
                    <label for="ContactFormPhone-{{ section.id }}">{{ 'contact.form.phone' | t }}</label>
                    <input
                      type="tel"
                      id="ContactFormPhone-{{ section.id }}"
                      class="input-full"
                      name="contact[phone]"
                      pattern="[0-9\-]*"
                      value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    >
                </div>
                <div class="grid__item medium-up--one-half">
                  <label for="ContactFormSubject-{{ section.id }}">{{ 'contact.form.subjact' | t }}</label>
                  <input
                    type="text"
                    id="ContactFormSubject-{{ section.id }}"
                    class="input-full"
                    name="contact[sname]"
                    autocapitalize="words"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  >
                </div>
              </div>

              <label for="ContactFormMessage-{{ section.id }}">{{ 'contact.form.message' | t }}</label>
              <textarea
                rows="5"
                id="ContactFormMessage-{{ section.id }}"
                class="input-full"
                name="contact[body]"
              >{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <div class="option-select">
                <input id="DecisionBox" name="DecisionBox" type="checkbox">
                <label class="zf-labelName" for="DecisionBox">Would you like to opt into our mailing list?</label>
                <p class="zf-errorMessage" id="DecisionBox_error" style="display:none;">Invalid value</p>
              </div>
              <button type="submit" class="btn">
                {{ 'contact.form.send' | t }}
              </button>

              {% comment %}
                Remove the following three lines of code to remove the note
                about being protected by Google's reCAPTCHA service.
                By removing it, the small reCAPTCHA widget will appear in the
                bottom right corner of the page.
              {% endcomment %}
              {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            {%- endform -%}
          </div>
        </div>